.hero{
    height: 250px;
    background-image: url("./img/Tortoise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.header_title{
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    padding-top: 20px;
}

.title_text{
    opacity: .8;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    margin-bottom: 8px;
}

.header_subtitle{
    margin: 0 0 24px;
    display: block;
    font-size: 16px;
}

.div_space{
    display: inline-block;
}

@media (max-width: 991.98px){
    .hero{
        height: 400px;
        background-image: url("./img/Tortoise.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        margin: auto;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }
}