.text{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    color: #0B0B45;
    text-align: justify;
    font-family: "Roboto","Helvetica","Arial",sans-seri;
}

.text strong{
    font-size: 16px;
    text-align: start;
    color: #0B0B45;
    text-align: justify;
    font-family: "Roboto","Helvetica","Arial",sans-seri;
    color: #0B0B45;
    font-weight: 600;
}

.titletext strong{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 15px;
    text-align: start;
    color: #0B0B45;
    font-weight: 600;
}

.card{
    border: none;
}

.organization{
    
    margin-bottom: 4rem;
}

p{
    padding: 3px;
    margin: 0px;
}

.btn{
    color: #0B0B45;
    font-weight: bold;
    font-size: 13px;
}