.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.row {
    display: inline-flex;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
}

.one,
.two,
.three,
.four,
.five,
.six {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;
}

.one {
    color: #f56e41;
}

.two {
    color: #1de1ae;
}

.three {
    color: #fcb70f;
}

.four {
    font-size: 3rem;
}


.five {
    color: #f56e41;
}

.six {
    color: #24b3ee;
}

/* @media screen and (max-width: 966px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s;
        display: flex;
    }
} */