.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.row {
    font-size: 15px;
    justify-items: center;
    font-weight: 100;
    max-width: 1128px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #0B0B45;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: content-box;
    text-transform: uppercase;
    font-family: var(--bs-body-font-family);
    font-family: Montserrat, sans-serif;
    text-align: center;

}

.one {
    
    color: #f56e41;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;
}

.two {
    color: #1de1ae;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;

}

.three {
    color: #fcb70f;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;

}

.four {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;
    color: #1e1d36;

}


.five {
    color: #f56e41;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;

}

.six {
    color: #24b3ee;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-top: .5rem;

}