.search_icon{
    float: left;
}

.btn_discussion{
    background-color: #0B0B45;
    color: white;
}

.form_input{
    border: none;
    background-color: #c7c7ff;
}

.form_input:active, .form_input:hover{
    border: 2px solid #0B0B45;
    background-color: #c7c7ff;
}
