/* .row{
    background-color: #fff;
    border: 1px solid #dedfe0;
    box-sizing: border-box;
    height: 184px;
    margin-top: 32px;
    position: relative;

} */
.container {
  border: 1px solid #dedfe0;
  border-radius: 10px 10px 0px 0px;
}

.tabs {
  padding: 0px;
}

