.tabs {
  border: 1px solid #dedfe0;
  border-radius: 0px 0px 10px 10px;
  width: 100% !important;
  /* margin-left: 35px; */
  /* margin-right: 2px; */
  /* padding-right:2
  0px ; */
  /* pa */
}
.container_tabs {
}
