/* .row{
    background-color: #fff;
    border: 1px solid #dedfe0;
    box-sizing: border-box;
    height: 184px;
    margin-top: 32px;
    position: relative;

} */
.container {
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;

}
.row {
  /* border: 1px solid #dedfe0; */
  border-bottom: 0px;
  /* border-radius: 10px 10px 0px 0px; */
  /* box-sizing: border-box; */
  padding: 8px;
  margin-right: -2.4rem;
  /* margin-right: px; */
}

.tabs {
  padding: 0px;
}

.avatar{
  width: 150px; 
  height: 150px;
  border-radius: 50%;
}