/* .row{
    background-color: #fff;
    border: 1px solid #dedfe0;
    box-sizing: border-box;
    height: 184px;
    margin-top: 32px;
    position: relative;

} */
.container {
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;

}
/* .row {
  border: 1px solid #dedfe0;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  padding: 8px;
  margin-right: -2.4rem;
  margin-right: px;
} */

.tabs {
  padding: 0px;
}

.avatar{
 border: 3px solid white;
 margin-top: 150px;
margin-left: 30px;
}

.hero{
  height: 250px;
  background: url("./cover.jpg") no-repeat right 0 top 0;
  background-size: cover;
  border-radius: 10px;
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 8em;
  color: white;
}