.row {
  /* border: 1px solid #dedfe0; */
  /* border-radius: 0px 0px 10px 10px; */
  width: 100%;
  color: #0B0B45;
  /* margin-left: 35px; */
  /* margin-right: 2px; */
  /* padding-right:2
  0px ; */
  /* pa */
}

.tabs{

    width: 100%;
    z-index: 1;
    height: 6rem;
    padding-left: 0px;
    /* border-bottom: 1px solid #e6e5e5; */
    color: #0B0B45;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    font: 350 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    /* border-width: 1px; */
    border-style: none;
    border-color: none;
    border-image: initial;
    margin-top: 1rem;
}

.tabs::selection{
    background-color: #cec0c0;

}

