.learn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: None;
    margin-bottom: 8rem;

}

.text{
    margin: 1rem auto;
    padding: 5rem 0;
    max-width: 1128px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #0B0B45;
    width: 100%;
    height: auto;
    box-sizing: content-box;
    font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;


}

.text h1{
    color: #0B0B45;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}