body {
    margin: 0;
    /* padding-top: 40px; */
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;

}

p {
    font-size: 14px;
    font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.0138em;
}

strong {
    /* font-size: 14px; */
    font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    text-decoration: none;
    /* font-family: JetBrains Mono,monospace; */
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    /* color: rgba(0, 0, 0, 0.55); */
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    opacity: 0.8;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.0138em;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

p a:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

a p:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

.account_settings .user_profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account_settings .user_profile .user_avatar {
    margin: 0 0 1rem 0;
}

.account_settings .user_profile .user_avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account_settings .user_profile h5.user_name {
    margin: 0 0 0.5rem 0;
}

.account_settings .user_profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account_settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account_settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account_settings .about p {
    font-size: 0.825rem;
}

.form_control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}