.link{
    text-decoration:none;
    color: #0B0B45;
}

.compete_img{
    width: 200px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.comptete_title_inner{
    line-height: 14px;
    color: #1f0f4f;
    font-size: 16px;
    text-transform: uppercase;
}

.comptete_title_inner:hover{
    text-decoration: underline;
}

.comptete_p{
    font-size: 14px;
}

.card_body{
    font-size: 14px;
}

.compete_card{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #777288;
}

.card_list{
    list-style-type: none;
}