.light{
    color: #f56e41;
    height: 50px;
    
}

.dic{
    height: 50px;
    color: #00bfb0;

}

.puzzle{
    height: 50px;
    color: #fda92c;

}


.tropy{
    color: #24b3ee;
    height: 50px;

}